#form1{
    position: absolute;
   width: 40%;
  height:65%; 
  right:231px;  
  
    color:white;
    background-color:orchid;
 
    
  }
  #leftdiv{
    
     width: 30%;
    height:70%; 
    background-color: gray;
    position:absolute;

   
       left:200px;   

  }
  #footer{
      background-color:pink;
     justify-content: center;
      bottom:148px;
    position: absolute;
    height:70px;
    width:576px;
    
    right:231px; 
  }

  .fbtn{

    font-size: 16px;
    width:80px;
    height:50px;
    margin: auto 100px;
  }