/* body{
   padding:0; 
  margin:0;
} */

.App {
  
 display:Grid;
  background-color:darkgrey;
   height:594px;
  Width:800px; 
 grid-template-columns: 35%  auto;  
 border-top-left-radius: 18px;
 border-bottom-left-radius: 18px;
 border-top-right-radius: 18px;

 border-bottom-right-radius: 18px;

  grid-template-areas: 
"navbar header"
"navbar footer";
margin: 0 auto;
} 
 #leftdiv{
    
     /* width: 25%;
    height:70%;  */
    background-color: #545871;
    /* position:absolute; */
   
grid-area: navbar;

   
       /* left:200px;    */
       border-top-left-radius: 18px;
 border-bottom-left-radius: 18px;

  }
#header{
background-color: #faeceb;
 grid-area: header; 
 display: flex;
 text-align: center;
 border-top-right-radius: 18px;
 
 /* height:120%; */
  
}
#footer{
  border-bottom-right-radius: 18px;
background-color: white;
grid-area: footer; 
} 
#wrapper{

  height:594px;
  Width:900px; 
  background-color: #9497A7;
padding: 50px;
  border :2px solid black;
  


}
