.App {
  text-align: center;
   /* width:200%;
  height:200%;  */
  /* display: table;
  clear: both; */
background-color: burlywood;
  /* grid-template-rows:auto auto;
  padding:20%;
  align-items: center;
  justify-content: center;
} */
}

